/*GENERAL*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}
/*button{
    
    color: #fff;
    
    border: none;
    
    outline: none;
    
    padding: 11px 0;
    
    font-size: 0.9rem;
    
    margin-bottom: 13px;
    
    background: none;
    
    border-radius: 0px;

    background-color: #000;
    
    cursor: pointer;
    
}*/


/*INDEX*/



/*CREATIVES-OPTIONS*/



/*CREATIVES-MINIMALIST*/

.colorButtons{
	display: block;
	margin: 5px 0;
}
canvas{
	cursor: crosshair;
}
/*.toolsButtons .btn{
	width: 48%;
}*/
.colorpicker{
	background: transparent;
	height: 40px;
}
/*.sizebuttons .btn{
	width: 48%;
}*/
.btn{
	margin-bottom: 10px;
	/*width: 100%;*/
}
input{
	/*width: 100%;*/
	margin-bottom: 10px;
}
.input-group{
	margin-bottom: 10px;
}
canvas#canvas{
	position: relative;
	left: 17%;
	top: 20%;
}
div#sidebar{
	position: absolute;
	left: 0;
	width: 100%;
	padding: 20px 20px;
	top: 95vh;
    background-color: rgb(255, 255, 255);
	border-bottom: 1px solid black;
}
header{
	z-index: 10;
	background-color: white;
	border-bottom: solid 1px black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
}
header h2 {
	position: absolute;
	left: 33%;
	top: 25%;
}

#backgroundPicture{
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 110%;
	max-width: 110%;
}



/*CREATIVES-UNLIMITED*/





/*AUTHENTICS*/




/*ABOUT US*/



/*@media screen and (max-width:400px){
    canvas#canvas{
        top: 230px; 
		left: 40px;
    }
}
@media screen and (max-width:1500px){
    canvas#canvas{
        top: 100px; 
		left: 580px;
    }
}*/


/*canvas{
	height: 500px;
	width: 500px;
}*/